thermal_dataset
sbatchscript.py
logs
requirements.txt
__pycache__
test.py
.png
best_model.pth.tar
best_model2.pth.tar
output/
rough.py
thermal_human_dataset.zip
thermal_human_dataset
wandb
chips_dataset
final_thermal_dataset_yolov3
yolov3_1_summary.txt
yolov3_20_summary.txt
tl.zip
yolov3_pascal_78.1map.pth.tar
layer1.txt
layer20.txt
tl.pth.tar
scores.csv
model_summary.txt
iou_test.py
train_pred.py
best_model_2000.pth.tar
train_orig.py
tl2.pth.tar